.main{
    margin: 30px;
    background: white;
}

body{
    background: url("https://elasticsearch.cn/static/css/default/img/bg.jpg") repeat;
}

.btn-publish{
    float: right;
    margin-bottom: 20px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
